body {
    background-color: #2c1b18;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #3d2723;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #c28b62;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}